/**
Common page css 
**/

html, body {
	background:#0a2a42;
	width:100%;
	height:100%;
	}

body {
	font-family: Narkisim, Arial, Tahoma, Verdana;
	font-size:12px;
	color:#000000;
	}

a {
	color:#000000;
	text-decoration:underline;
	}
a:hover {
	color:#000000;
	text-decoration:none;
	}
sup  {
	font-size:8px;
	}
hr {
	clear:both;
	border:none;
	border-bottom:1px solid #7c7f81;
	height:0%;
	line-height: 0%;
	}
.hidden {
	visibility:hidden;
	}
h1 {
	
	}
h2 {
	}
h3 {
	}
h4 {}
	
.fl {
	float:left;
	}
.fr {
	float:right;
	}
.cb {
	clear:both;
	}
.oh {
	overflow:hidden;
	}
.center {
	text-align:center;
	}
.right {
	text-align:right;
	}
.center-container  {
	display:inline-block;
	height:auto;
	overflow:visible;
	vertical-align:middle;
	}
#body-wrapper {
	width:100%;
	background:url('../images/bg.png') no-repeat top center;
	height: auto !important;
    min-height: 100%;
    width: 100%;
	}
#login {
	width:338px;
	position:absolute;
	left:50%;
	margin-left:-169px;
	top:50%;
	margin-top:-165px;
	text-align:center;
	}
	#login input {
		width:336px;
		border:1px solid #123047;
		border-radius: 8px;
		background-color:#092438;
		height:42px;
		font-size:34px;
		color:#0a2a42;
		text-align:center;
		margin-bottom:9px;
        padding-top: 6px;
		font-family:Narkisim, Arial, Tahoma, Verdana;
		}
	#login input:focus {
		border:1px solid #4e5c63;
		color:#b5b0a3;
		}
	#login button {
		width:141px;
		background-color:#0e3654;
		height:41px;
		color:#092438;
		font-size:31px;
		font-family:Narkisim, Arial, Tahoma, Verdana;
		border:0px solid #123047;
		border-radius: 8px;
		margin-top:13px;
		margin-bottom:116px;
		cursor:pointer;
		}
	#login button.active {
		background-color:#0c3d61;
		color:#c7beae;
		}
	#login div.hr {
		background:#828683;
		height:2px;
		font-size:0px;
		line-height:0px;
		}
	#login div.links {
		color:#113e60;
		font-size:12px;
		text-align:right;
		padding-top:4px;
		}
		#login div.links a {
			color:#b5b0a3;
			font-size:12px;
			text-decoration:none;
			}
		#login div.links a:hover {
			color:#b5b0a3;
			text-decoration:underline;
			}
#body, #header, #footer {
	width:1010px;
	margin:0px auto;
	}
.navigation {
	overflow:hidden;
	padding-left:291px;
	height:82px;
    margin: 0;
	}
	.navigation  li {
		float:left;
		padding-right:20px;
		}
		.navigation  li a{
			font-size:18px;
			color:#7d8082;
			text-decoration:none;
			display:block;
			height:40px;
			padding-top:42px;
			text-align:center;
			}
		.navigation  li a:hover{
			color:#c7beae;
			text-decoration:none;
			}
			.navigation  li a.account-link {
				width:198px;
				}
			.navigation  li a.account-link:hover {
				background:url('../images/account_link.png');
				}
			.navigation  li a.gallery-link {
				width:80px;
				}
			.navigation  li a.gallery-link:hover {
				background:url('../images/gallery_link.png');
				}
.topmenu-line {
	height:5px;
	margin-top:3px;
	font-size:0px;
	line-height:0px;
	background:url('../images/topmenu_line.png');
	}
.submenu {
	overflow:hidden;
	padding-left:512px;
	height:98px;
    margin: 0;
	}
	.submenu  li {
		float:left;
		padding-right:14px;
		}
		.submenu  li a{
			font-size:13px;
			color:#7d8082;
			text-decoration:none;
			display:block;
			height:31px;
			padding-top:20px;
			text-align:center;
            text-transform: uppercase;
			width:81px;
			}
		.submenu  li a:hover{
			color:#c7beae;
			text-decoration:none;
			background:url('../images/submenu_link.png');
			}
#account-info-form {
	width:834px;
	margin:0px auto;
    overflow: hidden;
	}
#home {
	width:1079px;
	margin:0px auto;
	}
.header-box {
	height:119px;
    overflow: hidden;
	}
.main-pic-block-wrapper {
	border:2px solid #1b3b53;
	overflow: hidden;
	}
	.main-pic-block{
		border-top:5px solid #051b29;
		border-left:5px solid #051b29;
		border-right:5px solid #051b29;
		border-bottom:7px solid #051b29;
        position: relative;
		}
        .main-pic-block .container {
            text-align: center;
        }
.logo-box {
    float:left;
    padding-top:53px;
    padding-left:5px;
    }
.slider-box {
    float:right;
    margin-top: 43px;
    overflow: hidden;
    background: transparent url('../images/slider_bg.png') no-repeat;
    }
    .slider-arrow, .slider-wrapper {
        float: left;
    }
    .slider-wrapper {
        width: 465px;
        height:59px;
        overflow: hidden;
        position: relative;
    }
    .slider-wrapper ul {
        position: absolute;
        width: 10000%;
        }
        .slider-box li {
            float:left;
            background:#123046;
            padding-top:2px;
            height:57px;
            }
            .slider-box li img {
                border:1px solid #102b3f;
                }
        .slider-box a.slider-arrow {
            width: 46px;
            height: 59px;
            display: block;
            background:transparent url('../images/slider.png') no-repeat;
            padding-top:0px;
            text-decoration: none;
            }
            .slider-box a.slider-arrow.prev {
                background-position: 10px 10px;
            }
            .slider-box a.slider-arrow.next {
                background-position: -70px 10px;
            }
            .slider-box a.slider-arrow.prev:hover {
                background-position: 10px -47px;
            }
            .slider-box a.slider-arrow.next:hover {
                background-position: -70px -47px;
            }
.shadow-text {
    position:absolute;
    background: #0a2a42;
    opacity:0.9;
    bottom: 0;
    left: 0;
    right: 0;
    padding:30px 65px;
    color:#8e8d8d;
    font-size:21px;
    font-family:Narkisim,  Arial, Tahoma, Verdana;
    line-height: 30px;
    letter-spacing:1px;
    text-transform: uppercase;
    }
    .shadow-text h1 {
        color:#bb1e23;
        font-size:29px;
        font-family:Narkisim,  Arial, Tahoma, Verdana;
        padding-bottom: 10px;
        }
.footer-box {
    overflow: hidden;
    }
.bottom-logo {
    float:left;
    width:210px;
    margin-top:21px;
    height:37px;
    background:url('../images/bottomlogo.png') no-repeat;
    }
.bottom-info {
    margin-top:16px;
    float:left;
    width:658px;
    height:50px;
    background:url('../images/bottom_bg.png') no-repeat;
    color:#8d8d8e;
    font-size:19px;
    font-family:Narkisim,  Arial, Tahoma, Verdana;
    line-height:47px;
    padding-left:40px;
    }
    .bottom-info span {
        color:#862532;
        }
.bottom-icons-box {
    padding-left:45px;
    padding-top:24px;
    width:116px;
    float:left;
    text-align: right;
    }
    .bottom-icons-box a {
        width:30px;
        height:30px;
        float:left;
        text-decoration: none;
        margin-right:8px;
        }
.f_icon {
    background:url('../images/social_icons.png') 0 -58px no-repeat;
    }
.t_icon {
    background:url('../images/social_icons.png') -38px -58px no-repeat;
    }
.v_icon {
    background:url('../images/social_icons.png') -74px -58px no-repeat;
    }
.f_icon:hover {
    background-position: 0 0;
    }
.t_icon:hover {
    background-position: -38px 0;
    }
.v_icon:hover {
    background-position: -74px 0;
    }
.contact-form-wrapper {
    width:800px;
    margin:50px auto 0px;
    padding-top:58px;
    background: url('../images/contact_line.png') no-repeat;
    }
    .contact-form-wrapper h1 {
        color:#031d30;
        font-size:25px;
        font-family:Narkisim,  Arial, Tahoma, Verdana;
        padding-bottom:22px;
        text-align:center;
        }
#contact-box {
    width:430px;
    margin:0px auto;
    overflow: hidden;
    margin-bottom: 80px;
    }
    #contact-box dt {
        width:110px;
        color:#9b958a;
        font-size:16px;
        font-family:Narkisim,  Arial, Tahoma, Verdana;
        float:left;
        line-height:31px;
        text-align: right;
        padding-right:10px;
        }
    #contact-box dd {
        width:310px;
        float:left;
        margin-bottom: 1px;
        }
        #contact-box dd input, #contact-box dd textarea, #contact-box dd button {
            background: #031d30;
            border:1px solid #133248;
            width:189px;
            height:30px;
            float:left;
            border-radius: 8px;
            font-family:Narkisim,  Arial, Tahoma, Verdana;
            color:#9b958a;
            font-size:16px;
            }
        #contact-box dd textarea {
            height:210px;
            overflow: auto;
            }
        #contact-box dd button {
            font-size:19px;
            cursor:pointer;
            }
        #contact-box dd button:hover {
            background:#872532;
            }
.line {
    width:828px;
    height:2px;
    font-size:0px;
    line-height:0px;
    background: url('../images/line.png');
    margin-bottom: 30px;
    }
#account-info-form {
    width:834px;
    margin:0px auto;
    overflow: hidden;
    }
    #account-info-form h2 {
        color:#dd2227;
        font-size: 16px;
        padding-left:30px;
        padding-bottom:3px;
        }
    #account-info-form dl {
        overflow: hidden;
        padding-bottom:16px;
        }
    #account-info-form dt {
        width:258px;
        color:#9b958a;
        font-size:16px;
        font-family:Narkisim,  Arial, Tahoma, Verdana;
        float:left;
        line-height:25px;
        text-align: right;
        padding-right:36px;
        }
    #account-info-form dd {
        width:405px;
        float:left;
        }
        #account-info-form dd input, #account-info-form dd button {
            background: #031d30;
            border:0px;
            width:400px;
            height:25px;
            float:right;
            border-radius: 6px;
            font-family:Narkisim,  Arial, Tahoma, Verdana;
            color:#9b958a;
            font-size:16px;
            }
        #account-info-form dd button {
            font-size:18px;
            width:156px;
            cursor:pointer;
            background: #868788;
            color:#0a2a42;
            }
        #account-info-form dd button:hover {
            background:#a52127;
            color:#c7beae;
            }
.additional-info {
    width:815px;
    margin:60px auto 50px;
    }
    .additional-info h6 {
        color:#dd2227;
        font-size:12px;
        padding-left:18px;
        }
    .additional-info p {
        color:#868788;
        font-size:12px;
        padding: 5px 33px 5px 18px;
        }
#upload-box {
    width:717px;
    margin:0px auto;
    }
    #upload-box input.file {
        font-size: 31px;
        margin-top : -44px;
        width: 717px;
        position: absolute;
        opacity: 0;
        }
    #upload-box input.url {
        width: 575px;
        height: 45px;
        background: transparent url('../images/input_bg.png') no-repeat;
        border: none;
        color: #103F63;
        font-size: 15px;
        font-family: Narkisim,Arial,Tahoma,Verdana;
        padding-left: 10px;
    }
    #upload-box button.upload {
        border: none;
        background: transparent url('../images/upload_btn.png') no-repeat;
        width: 115px;
        height: 41px;
    }
    .psevdo-upload-box {
        height: 45px;
        width: 710px;
        background: url('../images/upload_bg.png') no-repeat;
        }
    .psevdo-upload-box-hover {
        height: 45px;
        width: 710px;
        background: url('../images/upload_bg_a.png') no-repeat;
        }
#files-box-wrapper {
    width:717px;
    margin:61px auto;
    }
#files-box {
    width:616px;
    background: #031d30;
    height:632px;
    border:1px solid #1a364b;
    border-radius:6px;
    overflow: hidden;
    padding-top: 5px;
    }
.scrollbar-pane {
    background: #031d30;
    height:632px;
    border-right:1px solid #1a364b;
    border-radius:6px;
    overflow: hidden;
    padding-top: 5px;
    }
.file-item {
    padding-left:28px;
    padding-right:30px;
    padding-top:10px;
    padding-bottom:3px;
    color:#103f63;
    font-size:15px;
    }
    .file-content {
        overflow: hidden;
        padding-top:8px;
        }
        .file-name {
            margin-left:32px;
            padding-bottom:2px;
            border-bottom:1px solid #04263f;
            }
        .file-number {
            width:26px;
            height:66px;
            background: #04263F;
            border-radius: 7px 7px 7px 7px;
            float: left;
            color:#c7beae;
            font-size: 17px;
            padding-top:9px;
            text-align: center;
            line-height: 22px;
            margin-right: 5px;
            position: relative;
            }
            .file-number a.unpos {
                background: url("../images/file_number.png") no-repeat scroll 0 -53px transparent;
                bottom: 0;
                display: block;
                position: absolute;
                text-decoration: none;
                width: 26px;
            }
        .file-preview {
            float: left;
            margin-right: 5px;
            line-height: 78px;
            text-align: center;
            }
        .file-info-wrapper {
            float:left;
            padding-right:7px;
            }
        .file-info {
            width:309px;
            border:0px;
            border-radius:4px;
            background: #04263f;
            margin-bottom: 4px;
            padding:2px 2px 2px 13px;
            line-height: 22px;
            display: block;
            font: inherit;
            color: #103F63;
            }
        .file-content a.button {
            width:57px;
            height:33px;
            border:0px;
            border-radius:4px;
            background: #092438;
            color:#868788;
            float: left;
            cursor: pointer;
            margin-bottom:8px;
            display: block;
            line-height: 33px;
            text-align: center;
            text-decoration: none;
            }
            .file-content a.button.file-save:hover {
                background: #c7beae;
                color:#1c3547;
                }
            .file-content a.button.file-delete:hover {
                background: #dd2227;
                color:#b5b0a3;
                }