/**
Common page css 
**/

html, body {
	background:#0a2a42;
	width:100%;
	height:100%;
	}

body {
	font-family: Narkisim, Arial, Tahoma, Verdana;
	font-size:12px;
	color:#000000;
	}

a {
	color:#000000;
	text-decoration:underline;
	}
a:hover {
	color:#000000;
	text-decoration:none;
	}
sup  {
	font-size:8px;
	}
hr {
	clear:both;
	border:none;
	border-bottom:1px solid #7c7f81;
	height:0%;
	line-height: 0%;
	}
.hidden {
	visibility:hidden;
	}
h1 {
	
	}
h2 {
	}
h3 {
	}
h4 {}
	
.fl {
	float:left;
	}
.fr {
	float:right;
	}
.cb {
	clear:both;
	}
.oh {
	overflow:hidden;
	}
.center {
	text-align:center;
	}
.right {
	text-align:right;
	}
.center-container  {
	display:inline-block;
	height:auto;
	overflow:visible;
	vertical-align:middle;
	}
#body-wrapper {
	width:100%;
	background:url('../images/bg.png') no-repeat top center;
	height: auto !important;
    min-height: 100%;
    width: 100%;
	}
#login {
	width:338px;
	position:absolute;
	left:50%;
	margin-left:-169px;
	top:50%;
	margin-top:-165px;
	text-align:center;
	}
	#login input {
		width:336px;
		border:1px solid #123047;
		border-radius: 8px;
		background-color:#092438;
		height:48px;
		font-size:34px;
		color:#0a2a42;
		text-align:center;
		margin-bottom:9px;
		font-family:Narkisim, Arial, Tahoma, Verdana;
		}
	#login input.active {
		border:1px solid #4e5c63;
		color:#b5b0a3;
		}
	#login button {
		width:141px;
		background-color:#0e3654;
		height:41px;
		color:#092438;
		font-size:31px;
		font-family:Narkisim, Arial, Tahoma, Verdana;
		border:0px solid #123047;
		border-radius: 8px;
		margin-top:13px;
		margin-bottom:116px;
		cursor:pointer;
		}
	#login button.active {
		background-color:#0c3d61;
		color:#c7beae;
		}
	#login div.hr {
		background:#828683;
		height:2px;
		font-size:0px;
		line-height:0px;
		}
	#login div.links {
		color:#113e60;
		font-size:12px;
		text-align:right;
		padding-top:4px;
		}
		#login div.links a {
			color:#b5b0a3;
			font-size:12px;
			text-decoration:none;
			}
		#login div.links a:hover {
			color:#b5b0a3;
			text-decoration:underline;
			}
#body {
	width:1010px;
	margin:0px auto;
	}
#topmenu {
	overflow:hidden;
	padding-left:291px;
	height:82px;
	}
	#topmenu  li {
		float:left;
		padding-right:20px;
		}
		#topmenu  li a{
			font-size:18px;
			color:#7d8082;
			text-decoration:none;
			display:block;
			height:40px;
			padding-top:42px;
			text-align:center;
			}
		#topmenu  li a:hover{
			color:#c7beae;
			text-decoration:none;
			}
			#topmenu  li a.account-link {
				width:198px;
				}
			#topmenu  li a.account-link:hover {
				background:url('../images/account_link.png');
				}
			#topmenu  li a.gallery-link {
				width:80px;
				}
			#topmenu  li a.gallery-link:hover {
				background:url('../images/gallery_link.png');
				}
.topmenu-line {
	height:5px;
	margin-top:3px;
	font-size:0px;
	line-height:0px;
	background:url('../images/topmenu_line.png');
	}
#submenu {
	overflow:hidden;
	padding-left:512px;
	height:98px;
	}
	#submenu  li {
		float:left;
		padding-right:14px;
		}
		#submenu  li a{
			font-size:13px;
			color:#7d8082;
			text-decoration:none;
			display:block;
			height:31px;
			padding-top:20px;
			text-align:center;
			width:81px;
			}
		#submenu  li a:hover{
			color:#c7beae;
			text-decoration:none;
			background:url('../images/submenu_link.png');
			}
#account-info-form {
	width:834px;
	margin:0px auto;
    overflow: hidden;
	}
#home {
	width:1079px;
	margin:0px auto;
	}
.header-box {
	height:119px;
    overflow: hidden;
	}
.main-pic-block-wrapper {
	border:2px solid #1b3b53;
	overflow: hidden;
	}
	.main-pic-block{
		border-top:5px solid #051b29;
		border-left:5px solid #051b29;
		border-right:5px solid #051b29;
		border-bottom:7px solid #051b29;
		}
.logo-box {
    float:left;
    padding-top:53px;
    padding-left:5px;
    }
.slider-box {
    float:right;
    padding-top: 43px;
    }
    .slider-box ul {
        height:59px;
        }
        .slider-box li {
            float:left;
            background:#123046;
            padding-top:2px;
            height:57px;
            }
            .slider-box li img {
                border:1px solid #102b3f;
                }
        .slider-box li.slider-arrow {
            background:none;
            padding-top:0px;
            }
            .slider-box li.slider-arrow img {
                border:0px;
                }
.shadow-text {
    position:relative;
    background: #0a2a42;
    opacity:0.9;
    margin-top:-164px;
    padding:30px 65px;
    color:#8e8d8d;
    font-size:21px;
    font-family:Narkisim,  Arial, Tahoma, Verdana;
    line-height: 30px;
    letter-spacing:1px;
    }
    .shadow-text h1 {
        color:#bb1e23;
        font-size:29px;
        font-family:Narkisim,  Arial, Tahoma, Verdana;
        padding-bottom: 10px;
        }
.footer-box {
    overflow: hidden;
    }
.bottom-logo {
    float:left;
    width:210px;
    margin-top:21px;
    height:37px;
    background:url('../images/bottomlogo.png') no-repeat;
    }
.bottom-info {
    margin-top:16px;
    float:left;
    width:658px;
    height:50px;
    background:url('../images/bottom_bg.png') no-repeat;
    color:#8d8d8e;
    font-size:19px;
    font-family:Narkisim,  Arial, Tahoma, Verdana;
    line-height:47px;
    padding-left:40px;
    }
    .bottom-info span {
        color:#862532;
        }
.bottom-icons-box {
    padding-left:45px;
    padding-top:24px;
    width:116px;
    float:left;
    text-align: right;
    }
    .bottom-icons-box a {
        width:30px;
        height:30px;
        float:left;
        text-decoration: none;
        margin-right:8px;
        }
.f_icon {
    background:url('../images/f_icon.png');
    }
.t_icon {
    background:url('../images/t_icon.png');
    }
.v_icon {
    background:url('../images/v_icon.png');
    }
.f_icon:hover {
    background:url('../images/f_icon_a.png');
    }
.t_icon:hover {
    background:url('../images/t_icon_a.png');
    }
.v_icon:hover {
    background:url('../images/v_icon_a.png');
    }
.contact-form-wrapper {
    width:800px;
    margin:50px auto 0px;
    padding-top:58px;
    background: url('../images/contact_line.png') no-repeat;
    }
    .contact-form-wrapper h1 {
        color:#031d30;
        font-size:25px;
        font-family:Narkisim,  Arial, Tahoma, Verdana;
        padding-bottom:22px;
        text-align:center;
        }
#contact-box {
    width:430px;
    margin:0px auto;
    overflow: hidden;
    margin-bottom: 80px;
    }
    #contact-box dt {
        width:110px;
        color:#9b958a;
        font-size:16px;
        font-family:Narkisim,  Arial, Tahoma, Verdana;
        float:left;
        line-height:31px;
        text-align: right;
        padding-right:10px;
        }
    #contact-box dd {
        width:310px;
        float:left;
        }
        #contact-box dd input, #contact-box dd textarea, #contact-box dd button {
            background: #031d30;
            border:1px solid #133248;
            width:189px;
            height:30px;
            float:left;
            border-radius: 8px;
            font-family:Narkisim,  Arial, Tahoma, Verdana;
            color:#9b958a;
            font-size:16px;
            }
        #contact-box dd textarea {
            height:210px;
            overflow: auto;
            }
        #contact-box dd button {
            font-size:19px;
            cursor:pointer;
            }
        #contact-box dd button:hover {
            background:#872532;
            }
.line {
    width:828px;
    height:2px;
    font-size:0px;
    line-height:0px;
    background: url('../images/line.png');
    margin-bottom: 30px;
    }
#account-info-form {
    width:834px;
    margin:0px auto;
    overflow: hidden;
    }
    #account-info-form h2 {
        color:#dd2227;
        font-size: 16px;
        padding-left:30px;
        padding-bottom:3px;
        }
    #account-info-form dl {
        overflow: hidden;
        padding-bottom:16px;
        }
    #account-info-form dt {
        width:258px;
        color:#9b958a;
        font-size:16px;
        font-family:Narkisim,  Arial, Tahoma, Verdana;
        float:left;
        line-height:25px;
        text-align: right;
        padding-right:36px;
        }
    #account-info-form dd {
        width:405px;
        float:left;
        }
        #account-info-form dd input, #account-info-form dd button {
            background: #031d30;
            border:0px;
            width:400px;
            height:25px;
            float:right;
            border-radius: 6px;
            font-family:Narkisim,  Arial, Tahoma, Verdana;
            color:#9b958a;
            font-size:16px;
            }
        #account-info-form dd button {
            font-size:18px;
            width:156px;
            cursor:pointer;
            background: #868788;
            color:#0a2a42;
            }
        #account-info-form dd button:hover {
            background:#a52127;
            color:#c7beae;
            }
.additional-info {
    width:815px;
    margin:60px auto 50px;
    }
    .additional-info h6 {
        color:#dd2227;
        font-size:12px;
        padding-left:18px;
        }
    .additional-info p {
        color:#868788;
        font-size:12px;
        padding: 5px 33px 5px 18px;
        }